.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: center
    }
.calibre3 {
    height: 576px;
    width: 384px
    }
.calibre4 {
    display: block;
    margin-bottom: 2.14%;
    margin-top: 1.28%;
    text-align: center
    }
.calibre5 {
    display: block
    }
.calibre6 {
    clear: both;
    display: block
    }
.calibre7 {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: justify
    }
.calibre8 {
    font-size: 0.625em
    }
.calibre9 {
    font-size: 0.625em;
    font-weight: bold
    }
.calibre10 {
    clear: both;
    display: block
    }
.calibre11 {
    display: block;
    margin-bottom: 1.2%;
    margin-top: 1.2%;
    text-align: center
    }
.calibre12 {
    font-size: 1.29167em;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.calibre13 {
    display: block;
    margin-bottom: 0%;
    margin-top: 1.2%;
    text-align: center
    }
.calibre14 {
    font-size: 0.83333em
    }
.calibre15 {
    height: 246px;
    width: 345px
    }
.calibre16 {
    font-size: 0.83333em;
    font-style: italic
    }
.calibre17 {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: right
    }
.calibre18 {
    color: #00f;
    font-size: 1em;
    text-decoration: underline
    }
.calibre19 {
    display: block;
    margin-bottom: 1.2%;
    margin-top: 0%;
    text-align: center
    }
.calibre20 {
    display: block;
    margin-bottom: 0%;
    margin-top: 8.37%;
    text-align: center
    }
.calibre21 {
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre22 {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: justify;
    text-indent: 1em
    }
.calibre23 {
    font-size: 0.75em
    }
.calibre24 {
    display: block;
    margin-bottom: 1%;
    margin-top: 2.39%
    }
.calibre25 {
    color: #00f;
    font-size: 0.75em;
    text-decoration: underline
    }
.calibre26 {
    color: #00f;
    font-size: 0.75em;
    font-style: italic;
    text-decoration: underline
    }
.calibre27 {
    display: block;
    margin-bottom: 0%;
    margin-top: 2.87%;
    text-align: justify;
    text-indent: 1em
    }
.calibre28 {
    display: block;
    margin-bottom: 7.97%;
    margin-top: 7.97%;
    padding-bottom: 6pt;
    text-align: center;
    border-bottom: #000 dotted 0.5pt
    }
.calibre29 {
    font-size: 0.75em;
    letter-spacing: 0.18rem
    }
.calibre30 {
    display: block;
    margin-bottom: 11.96%;
    margin-top: 0%;
    text-align: center
    }
.calibre31 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre32 {
    display: block;
    margin-bottom: 0%;
    margin-top: 1.2%;
    text-align: justify;
    text-indent: 1em
    }
.calibre33 {
    display: block;
    margin-bottom: 0%;
    margin-left: 11.75%;
    margin-top: 1.2%;
    text-indent: 0
    }
.calibre34 {
    font-family: "Times New Roman";
    font-size: 0.625em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2
    }
.calibre35 {
    display: block;
    margin-bottom: 8.54%;
    margin-top: 8.54%;
    padding-bottom: 6pt;
    text-align: center;
    border-bottom: #000 dotted 0.5pt
    }
.calibre36 {
    display: block;
    margin-bottom: 12.81%;
    margin-top: 0%;
    text-align: center
    }
.calibre37 {
    display: block;
    margin-bottom: 0%;
    margin-top: 10.25%;
    text-align: center
    }
.calibre38 {
    font-size: 1.29167em;
    font-style: italic;
    line-height: 1.2
    }
.calibre39 {
    font-size: 1em
    }
.calibre40 {
    display: block;
    margin-bottom: 2.13%;
    margin-top: 0%
    }
.calibre41 {
    font-size: 1em;
    font-weight: bold
    }
.calibre42 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-top: 10.25%;
    text-align: center
    }
.calibre43 {
    font-size: 1em;
    line-height: 1.2
    }
.calibre44 {
    display: block;
    line-height: 1.2
    }
.calibre45 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2
    }
.calibre46 {
    text-decoration: line-through
    }
.calibre47 {
    display: block;
    margin-bottom: 2.13%;
    margin-top: 0%;
    text-align: center
    }
.calibre48 {
    font-size: 0.83333em;
    font-weight: bold
    }
.calibre49 {
    font-size: 0.83333em;
    font-weight: bold;
    text-decoration: underline
    }
.calibre50 {
    display: block;
    margin-bottom: 0%;
    margin-top: 1.2%;
    text-align: justify
    }
.calibre51 {
    font-size: 0.75em;
    font-style: italic
    }
.calibre52 {
    display: block;
    margin-bottom: 0%;
    margin-top: 1.2%;
    text-align: justify;
    text-indent: 1.3em
    }
.calibre53 {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: justify;
    text-indent: 1.6em
    }
.calibre54 {
    display: block;
    margin-bottom: 0%;
    margin-top: 0%;
    text-align: justify;
    text-indent: 1.3em
    }
.calibre55 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-top: 0%
    }
.calibre56 {
    display: list-item;
    padding-left: 7.61pt;
    text-align: justify;
    text-indent: 0;
    margin: 0% 0% 0% 10.3%
    }
.calibre57 {
    clear: both;
    display: block;
    border-bottom: #000 dotted 0.5pt;
    margin: 7.97% 0%
    }
.calibre58 {
    display: block;
    padding-bottom: 40pt;
    margin: 0%
    }
.calibre59 {
    display: block;
    padding-bottom: 6pt;
    margin: 0%
    }
.calibre60 {
    display: block;
    margin-bottom: 2.39%;
    margin-top: 0%;
    text-align: center
    }
.calibre61 {
    font-size: 1em;
    letter-spacing: 0.25rem
    }
.calibre62 {
    display: block;
    margin-bottom: 1.99%;
    margin-top: 0%
    }
.calibre63 {
    display: block;
    margin-bottom: 0%;
    margin-top: 2.39%;
    text-align: justify
    }
.calibre64 {
    display: block;
    margin-bottom: 0%;
    margin-top: 2.39%;
    text-align: justify;
    text-indent: 1em
    }
.calibre65 {
    display: block;
    margin-bottom: 0%;
    margin-top: 2.39%;
    text-align: center;
    text-indent: 1em
    }
.calibre66 {
    color: #00f;
    font-size: 0.83333em;
    text-decoration: underline
    }
